:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-color: #eee;
    --d-color: #ddd;
}


* {
    /* margin: 0;
    padding:0; */
    box-sizing: border-box;
}

body {
    background-color: #f1f5f9;
    font-family: "Open Sans", sans-serif;
     margin: 0;
    padding:0;
}

.page {
    min-height: 100vh;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.contant {
    overflow: hidden;
}

/* Start sidebar */
.sidebar {
    width: 200px;
    box-shadow: 0 0 10px var(--d-color);
    font-size: 14px;
}

.sidebar h3 {
    margin-bottom: 60px;
}

.sidebar h3::before,
.sidebar h3::after {
    content: '';
    position: absolute;
    background-color: black;
    font-size: 14px;
}

.sidebar h3::before {
    width: 110px;
    height: 3px;
    transform: translateX(-50px);
    left: 48%;
    top: 45px;
    border-radius: 6px;
}

.sidebar h3::after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
    border: 4px solid white;
    transform: translateX(-37px);
    top: 33px;

}

.sidebar ul li a {
    margin-bottom: 10px;

}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    padding-left: 10px;
}

@media(max-width:767px) {
    .sidebar {
        width: 50px;
        font-size: 13px;
        text-align: center;
        padding-left: 7px;

    }

    .sidebar h3 {
        margin-bottom: 30px;
        padding-left: 0;
    }

    .sidebar h3::before,
    .sidebar h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}

/* End sidebar */

/* Start head */
.head input {
    width: 150px;
    margin-left: 10px;
    border-radius: 8px;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    outline-color: var(--d-color);
    border: 1px solid var(--d-color);
    transition: width .3s;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 30px;
    transform: translateY(50px);
    top: -50%;
    color: var(--grey-color);
}

.head .search input:focus {
    width: 180px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.icons span {
    margin-right: 15px;
}

.icons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    left: 12px;
    top: -3px;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

@media (max-width:767px) {
    .icons img {
        margin-right: 3px;
    }

    .icons span {
        margin-right: 7px;
    }
}

/* End head */

/* Start Content */
.page h1 {
    margin: 20px 20px 30px 20px;
}

.page h1::before,
.page h1::after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    top: 50px;
    border-radius: 6px;
}

.page h1::before {
    width: 170px;
    background-color: white;
}

.page h1::after {
    width: 60px;
    background-color: black;
}



@media (max-width:767px) {
    .page .wrapper {
        grid-template-columns: minmax(100px, 1fr);
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Start welcome wedget */
.welcome .intro {
    border-top-left-radius: 10px;
}

.welcome .intro p {
    margin-top: 0;
}

.welcome .intro img {
    width: 170px;
    border-top-right-radius: 10px;
}

.welcome .welcomeImage {
    width: 60px;
    margin-left: 20px;
    border: 5px solid white;
    margin-top: -15px;
    border-radius: 50%;
}

.welcome .body {
    padding: 20px;
    border-top: 2px solid #eee;
    justify-content: space-between;
    padding-bottom: 40px;
}

.welcome .body span {
    font-size: 14px;
    color: var(--grey-color);
}

.welcome .visit {
    margin: 0 10px 20px auto;
    background-color: var(--blue-color);
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media(max-width:767px) {

    .welcome {
        margin: 0;
    }

    .welcome .intro img {
        display: none;
    }

    .welcome .body div {
        margin-bottom: 15px;
    }

    .welcome .body {
        margin-bottom: 0px;
    }

    .welcome .visit {
        margin-top: -20px;
    }
}

/* End welcome wedget */

/* Start quick draft wedget */
.quick-draft {
    overflow: hidden;
}

.quick-draft .text,
.quick-draft textarea {
    outline: none;
    border: none;
    border-radius: 6px;
    /* width: 450px; */
}

.quick-draft textarea {
    resize: none;
    height: 100px;
}

.quick-draft .save {
    margin-left: auto;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

@media(max-width:767px) {
    .quick-draft {
        padding: 10px;
    }

    .quick-draft .save {
        margin-top: 10px;
    }
}

/* End quick draft wedget */

/* Start targets wedget  */
.target-row .icon {
    width: 80px;
    height: 80px;
}

.target-row .details {
    flex: 1;
}

.target-row .details .process {
    height: 4px;

}

.blue .icon,
.blue .details .process {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .details .process {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .details .process {
    background-color: rgb(34 197 94 / 20%);
}

.target-row .details .process>span {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}


.target-row .details .process>span span {
    position: absolute;
    top: -33px;
    right: -16px;
    border-radius: 6px;
    padding: 2px;
    color: white;
}

.target .details .process>span span::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 8px;
    border-style: solid;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.target-row .details .process>span .blue::after {
    border-top-color: var(--blue-color);
}

.target-row .details .process>span .orange::after {
    border-top-color: var(--orange-color);
}

.target-row .details .process>span .green::after {
    border-top-color: var(--green-color);
}

@media(max-width:767px) {
    .target-row .icon {
        width: 50px;
        height: 50px;
    }

    .target-row .details .process {
        margin-top: 2px;

    }

}

/* End targets wedget  */

/* Start Ticket widget  */
.ticket .box {
    border: 3px solid #ccc;
    width: calc(50% - 10px);
}

.ticket span {
    font-weight: bold;
}

@media(max-width:767px) {
    .ticket .box {
        width: 100%;
    }
}

/* End Ticket widget  */

/* Start Last News widget  */

.last-news .row-new img {
    width: 100px;
}

.last-news .row-new:not(:last-child) {
    border-bottom: 1px solid #eee;
    /* margin-bottom: 15px; */
    padding-bottom: 8px;
}

.last-news .row-new .info {
    flex-grow: 1;
}

@media(max-width:767px) {
    .last-news .row-new .label {
        margin: 10px auto;
    }

    .last-news .row-new {
        text-align: center;
    }

    .last-news .row-new img {
        margin-top: 10px;
    }

    .last-news .row-new:not(:last-child) {
        border-bottom: 1px solid #ccc;

    }
}

/* End Last News widget  */

/* Start Tasks wedget */
.tasks .task-row:not(:last-of-type) {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.tasks .task-row .info {
    flex-grow: 1;
}

.tasks .task-row .delete {
    cursor: pointer;
    transition: color .2s;
}

.tasks .task-row .delete:hover {
    color: var(--red-color);
}

.tasks .done {
    opacity: .5;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .done .delete {
    color: var(--red-color);
}

/* End Tasks  wedget*/

/* Start Last Uploads widget  */
.uploads .row-uploads:not(:last-of-type) {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.uploads .row-uploads img {
    width: 40px;
    height: 40px;
}

.uploads .row-uploads .info {
    margin-left: 30px;
    flex-grow: 1;
}

@media(max-width:767px) {
    .uploads .row-uploads .info .name {
        font-size: 18px;
    }

    .uploads .row-uploads .info span:not(:first-child) {
        font-size: 15px;
    }
}

/* End Last Uploads widget  */

/* Start Last Project  */
.project .steps ul::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--blue-color);
}

.project .steps ul li {
    padding-left: 35px;
}

.project .steps ul li::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    left: -13px;
}

.project .steps ul .done::before {
    background-color: var(--blue-color);
}

.project .steps ul .current::before {
    animation: change-color .8s infinite alternate;
}

.project .project-icon {
    width: 150px;
    height: 150px;
    margin: 200px 0 0 80px;
    opacity: .5;
}

@media(max-width:767px) {
    .project ul li {
        font-size: 18px;
    }
}

/* End Last Project  */

/* Start Reminder widget  */
.reminder .row {
    padding-left: 15px;
}

.reminder .blue::before,
.reminder .orange::before,
.reminder .red::before,
.reminder .green::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.reminder .blue {
    border-left: 3px solid var(--blue-color);
}

.reminder .orange {
    border-left: 3px solid var(--orange-color);
}

.reminder .green {
    border-left: 3px solid var(--green-color);
}

.reminder .red {
    border-left: 3px solid var(--red-color);
}

.reminder .blue::before {
    background-color: var(--blue-color);
}

.reminder .orange::before {
    background-color: var(--orange-color);
}

.reminder .green::before {
    background-color: var(--green-color);
}

.reminder .red::before {
    background-color: var(--red-color);
}

@media(max-width:767px) {

    .reminder .blue::before,
    .reminder .orange::before,
    .reminder .red::before,
    .reminder .green::before {
        margin-left: -20px;
    }

    .reminder .row .task {
        font-size: 18px;
    }

    .reminder .row {
        padding-left: 7px;
        margin-left: 40px;
    }
}

/* End Reminder widget  */

/* Start Last Post widget  */
.last-post .top img {
    width: 60px;
    height: 60px;
}

.last-post .top {
    margin-bottom: 40px;
}

.last-post .post {
    border-top: 2px solid #ccc;
    padding: 10px 0 10px 0;
    line-height: 1.8;
    font-size: 18px;
    border-bottom: 2px solid #eee;
    text-transform: capitalize;
    min-height: 140px;
}

@media(max-width:767px) {
    .last-post .post {
        font-size: 16px;
    }
}

/* End Last Post widget  */

/* Start Social Media wedget  */
.social .twiter {
    background-color: rgb(29 161 242 / 30%);
}

.social .twiter span {
    color: #1da1f2;
}

.social .twiter a,
.social .twiter i {
    background-color: #1da1f2;
}

.social .facebook {
    background-color: rgb(0 120 215 / 20%);
}

.social .facebook span {
    color: #0078d7;
}

.social .facebook a,
.social .facebook i {
    background-color: #0078d7;
}

.social .youtub {
    background-color: rgb(255 0 0 / 20%);
}

.social .youtub span {
    color: #ff0000;
}

.social .youtub a,
.social .youtub i {
    background-color: #ff0000;
}

.social .linkedin {
    background-color: rgb(10 102 194 / 20%);
}

.social .linkedin span {
    color: #0a66c2;
}

.social .linkedin a,
.social .linkedin i {
    background-color: #0a66c2;
}

.social .row i {
    width: 60px;
    height: 60px;
    transition: .3s;
}

.social .row i:hover {
    transform: rotate(10deg);
}

.social .row span {
    flex-grow: 1;
}

/* End Social Media wedget  */

/* Stat Table */
.table .table-responsive {
    overflow-x: auto;
}

.table table {
    min-width: 1000px;
    border-spacing: 0;
}

.table table tr td {
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;

}

.table table tr td:first-child {
    border-left: 2px solid #eee;
}

.table table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.table table img:not(:first-child) {
    margin-left: -13px;
}

.table tbody tr:hover td {
    background-color: #f3e4e4;
    ;
}

/* End Table */

/* Start animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

/* End animation */

/* End Content */


/* Start settings box */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
}

.settings-page .switch {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.settings-page .checkbox-toggle {
    appearance: none;
}

.settings-page .switch-toggle {
    width: 90px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #dddddd82;

}

.settings-page .switch-toggle::before {
    content: '\2715';
    font-size: 18px;
    color: #726969;
    position: absolute;
    top: 28px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
 
}

.settings-page .checkbox-toggle:checked+.switch-toggle {
    background-color: var(--blue-alt-color);
}

.settings-page .checkbox-toggle:checked+.switch-toggle::before {
    content: '\2713';
    left: 55px;
    color: var(--blue-alt-color);
}

.settings-page .close-message {
    resize: none;
    border: 1px solid #d5cdcd;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    outline: none;

}

@media (max-width:767px){
    .settings-page .paragraph{
        position: relative;
        /* padding-bottom: 10px; */
    }
    .settings-page .switch {
       position: absolute;
       bottom: 0px;
    }
    .settings-page .close-message{
        margin-top: 10px;
    }
}

/* End settings box */

/* Start settings box */
.settings-page .information input[type="email"] {
    cursor: no-drop;  
}
@media (max-width:767px){
    .settings-page .email{
        width: 75%;
    }
}


/* End settings box */

/* Start settings box */
.settings-page .security:first-of-type a {
    position: absolute;
    top: 15px;
    right: 10px;
}

.settings-page .security:first-of-type a:hover {
    background-color: var(--blue-color);
}

.settings-page .security div:nth-of-type(3) a {
    background-color: #eee;
    color: black;
    font-weight: 900;
}

/* End settings box */

/* Start settings box */

.settings-page .social div i {
    font-size: 25px;
}

.settings-page .social div:focus-within i{
    color: black;
}

.settings-page .social div,
.settings-page .social div input{
    background-color: #f6f6f6;
}

/* End settings box */

/* Start settings box */

.settings-page .control input,
.settings-page .radio input,
.settings-page .server input{
    appearance: none;
}


.settings-page .control label{
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}
.settings-page .control label::before{
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid #ddd;
  
}

.settings-page .control label::after{
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    content: '\2713';
    color: white;
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transform: scale(0) rotate(360deg);

}

.settings-page .control label:hover::before{
border-color: var(--blue-color);
}

.settings-page .control input[type="checkbox"]:checked +label::after {
   transform: scale(1);
}

/* End settings box */

/* Start settings box */
.settings-page .radio label{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}
.settings-page .radio label::before{
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 19px;
       height: 19px;
       border: 1px solid #ddd;
       border-radius: 50%;
 
}

.settings-page .radio label::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 3.5px;
    top: 3px;
    /*border: 1px solid var(--blue-color);
    */background-color: var(--blue-color);
    border-radius: 50%;
    transition: .3s;
    transform: scale(0);
    
}

.settings-page .radio input[type="radio"]:checked + label::before{
border-color: var(--blue-color);
}

.settings-page .radio input[type="radio"]:checked + label::after{
     transform:scale(1) ;
    
}

/* End settings box */

/* Start settings box */
.settings-page .server { 
    width: 100%;
    margin-right: 20px;
    position: relative;
    text-align: center;
}
.settings-page .server label{
    cursor: pointer;
    
}

.settings-page .server label::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 6px;
    
}

.settings-page .server input[type="radio"]:checked + label::before,
.settings-page .server input[type="radio"]:checked + label span,
.settings-page .server input[type="radio"]:checked + label i{
    border-color: var(--blue-color);
    color: var(--blue-color);
}



@media(max-width:767px){
 
.settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}
.settings-page .server {
    margin-bottom: 45px;
   
}

        .settings-page .servers {
          flex-wrap: wrap;
        }
      
  
}

/* End settings box */

/* Start profile page */




.profile-page .info1{
    text-align: center;
    border-right: 2px solid #eee;
    padding-right: 30px;
    width: 300px;
    margin: auto;
  
}


.profile-page .info1 img{
    width: 100px;
    height: 100px;
}
.profile-page .info1 div:nth-of-type(1){
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 0 aoto;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}
.profile-page .info1 div:nth-of-type(1) span{
position: absolute;
left: 0;
width: 50%;
height: 100%;
background-color: var(--blue-color);
border-radius: 20px;
}

.profile-page .info2 .Information{
    flex-wrap: wrap;
    overflow: hidden;
    
}
.profile-page .info2 .Information > div:not(.switch) {
    min-width: 250px;
}

.profile-page .info2 .switch {
    margin: 27px 50px 0  0;
    transform: translateY(-50%);

}

.profile-page .info2 .switch label input{
appearance: none;
}
.profile-page .info2 .switch-toggle{
    position: relative;
    top: 0;
    width: 100px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    /* left: 25px; */
    cursor: pointer;
}
.profile-page .info2 .switch-toggle::before{
    content: '\2715';
    color: var(--grey-color);
    position: absolute;
    top: 0;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    text-align: center;
    transition: .5s;
   
}
.profile-page .info2 input[type="checkbox"]:checked + .switch-toggle::before{
    content: '\2713';
    background: white;
    color: var(--blue-alt-color);
    left: 77px;
}

.profile-page .info2 input[type="checkbox"]:checked + .switch-toggle{
    background-color: var(--blue-color);
}
.profile-page .info2 .box:hover{
    background-color: #eee;
    border-radius: 6px;
 
}


@media(max-width:767px){

    .first-box,
    .first-box .Information{
        flex-direction: column;
    }

    .first-box .info1{
       border: none;
    }

    .first-box .info2{
       text-align: center;
   }

    .first-box .info2 .information div{
        margin-bottom: 5px;
     }

     .profile-page .info2 .switch {
        margin: 10px auto 5px;
        
    }
}

.profile-page .another-data .skills{
    width: 410px;
}

.profile-page .activity{
    align-items: center;
}
.profile-page .activity i{
    font-size: 60px;
    margin-right: 20px;
}


@media (max-width:767px) {
    .profile-page .another-data .skills{
        height: fit-content;
    }

    .profile-page .another-data{
        flex-wrap: wrap;
        overflow: hidden;
    }
    .profile-page .last-activity p{
        margin-bottom: 0;  
     }

    .profile-page .activity i{
        font-size: 30px; 
        margin-top: 10px;   
    }

    .profile-page .activity p{
       margin: 3px 0 0 0;   
    }
    .profile-page .activity,
    .profile-page .activity .div{
        display: block;
        text-align: center;
      margin-top: 10px;
        
    }

    .page{
        overflow: hidden;
    }
}

/* End profile page */

/* Start projects page */
.project .date{
    position: absolute;
    right: 10px;
}

.project .team{
position: relative;
min-height: 80px;
}

.project .team a{
position: absolute;
top: 10px;
left: 0;
}

.project .team a:nth-child(2){
    left: 25px;
 }

.project .team a:nth-child(3){
     left: 50px;
}

.project .team a:nth-child(4){
     left: 75px;
}

.project .team a:nth-child(5){
    left: 100px;
}

.project .team a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.project .do{
    margin: 20px 0;
justify-content: flex-end;
margin-top: 10px;
}
.project .info .process{
   position: relative;
   width: 200px;
   height: 10px;
   border-radius: 6px;
   background-color: #eee;
}

.project .info .process span{
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 6px;
}

@media (max-width:767px){
.projects-page{
    grid-template-columns: minmax(315px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.project .do{
    flex-direction: column;
}
.project .do span{
    width:fit-content;
    margin-bottom: 10px;
}

.project .info{
    flex-direction: column;
    gap: 10px;
}

}

/* End projects page */

/* Start course page */
.courses-page{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.courses-page .course{
    overflow: hidden;

}

.courses-page .course .cover{
    width: 100%;  
}
.courses-page .course .instractor{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}

.course .info{
    height: 45px;
    margin: 25px 25px 0 10px;
}

.courses-page .info p{
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
}

/* End course page */

/* Start Friends page */

.friends-page{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.friends-page .friend .profile i:nth-of-type(1),
.friends-page .friend .profile i:nth-of-type(2){
       position: absolute;
       top: 10px;
       padding: 5px;
       background-color: #eee;
       color: grey;
       border-radius: 50%;
       cursor: pointer;
}    

.friends-page .friend .profile i:nth-of-type(1){
left: 10px;
}

.friends-page .friend .profile i:nth-of-type(2){
left: 40px;   
}
.friends-page .friend .profile i:nth-of-type(1):hover,
.friends-page .friend .profile i:nth-of-type(2):hover{
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend .profile div{
    margin-top: 25px;
}
.friends-page .friend .profile img{
    border-radius: 50%;
    width: 100px;
}

.friends-page .friend .process .profile-btn,
.friends-page .friend .process .remove-btn{
    cursor: pointer;
    padding: 5px;
}

.friends-page .friend .process .remove-btn{
    background-color: var(--red-color);
}

.friends-page .friend .process .profile-btn:hover,
.friends-page .friend .process .remove-btn:hover{
   opacity: .5;
}
/* End Friends page */

/* Start file-page */
.files-page{
    align-items: flex-start;
    flex-direction: row-reverse;
    overflow: hidden;
}

@media (max-width:767px){
    .files-page{
        flex-direction: column;
        align-items: normal;
       
    }

    .files-page .files{
        grid-template-columns: minmax(100px,1fr);
        gap: 10px;
    }
}

.files-page .static-files{
    min-width: 260px;
    /* height: fit-content; */
}
.files-page .stat-file{
    align-items: center;
    padding-left: 10px;
}
.files-page .stat-file .icon{
    width: 50px;
    height: 40px;
    justify-content: center;
    border-radius: 3px;
    margin-right: 10px;
}

.files-page .stat-file .blue{
    background-color: rgb(0 117 255 / 20%);
}
.files-page .stat-file .green{
    background-color: rgb(34 197 94 / 20%);
}
.files-page .stat-file .red{
    background-color: rgb(244 67 54 / 20%);
}
.files-page .stat-file .orange{
    background-color: rgb(245 158 11 / 20%);
}
.files-page .stat-files .upload{
    width: fit-content;
    margin: 10px auto;
    padding: 0 10px;
}

.files-page .stat-files .upload:hover{
    background-color: var(--blue-alt-color);
}
.files-page .stat-files .upload:hover i{
    animation: go-up .8s infinite; 
}

@keyframes go-up{
    0%,100%{
        transform:translateY(0);

}
    50%{
        transform:translateY(-5px)    ;        
}

}

.files-page .files{
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
}

.files-page .files .file{
    min-height: fit-content;
    
}
.files-page .files .file .download{
    cursor: pointer;
}
.files-page .files .file .download:hover{
    color: var(--blue-color);
}

.files-page .files .image img{
    transition: .3s;
}
.files-page .files .image:hover img{
    transform: rotate(10deg);

}
.files-page .files img{
    width: 80px;
    height: 80px;
}

.files-page .files .info{
    height: fit-content;
 
}

/* End file-page */
